body
{

background-color: rgb(250,250,220);
}

ul
{
	color: darkviolet;
}
div
{
	background-color: darkorange;
	font-size: 60px;
	margin-left: 0px;
	margin-bottom:30px; 
	margin-top: 0px;

}
img
{
	font-size: : 190px;
}